
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid mixin \"======\".\A         on line 8 of touch-main.sass\A \A 3: @import partials/_variables\A 4: // activety model\A 5: @import libs/_timeline-style\A 6: @import libs/_slick\A 7: @import _kv\A 8: =======\A 9: // @import partials/_variables\A 10: // // activety model\A 11: // @import libs/_timeline-style\A 12: // @import libs/_slick\A 13: >>>>>>> b415654f3484a8b563d829dcf909e0d8aa373b63"; }
