/* line 1, ../sass/_footer.scss */
.contact {
  padding: 1em 1em 1em 1em;
  background-color: #f8b616;
  width: auto;
  height: auto;
}

/* line 8, ../sass/_footer.scss */
.contact div {
  width: inherit;
  text-align: center;
}

/* line 13, ../sass/_footer.scss */
.contact div img {
  vertical-align: middle;
  width: 85px;
}

/* line 19, ../sass/_footer.scss */
.icons {
  text-align: center;
  position: relative;
  display: block;
  padding: 0px;
  text-decoration: none;
}

/* line 27, ../sass/_footer.scss */
.icons a {
  border-radius: 100%;
}

/* line 31, ../sass/_footer.scss */
.icons a img {
  width: 40px;
  margin: auto;
  padding: 8px;
}

/* line 37, ../sass/_footer.scss */
.copyright {
  margin: -10px;
  text-align: center;
  vertical-align: middle;
}

/* line 43, ../sass/_footer.scss */
.copyright p {
  display: block;
  font-size: 13px;
  color: white;
  text-align: center;
}

/* line 1, ../sass/_kv.sass */
#kv {
  margin: 0em;
  padding: 0em;
  display: block;
}
/* line 5, ../sass/_kv.sass */
#kv div {
  padding-bottom: 2em;
}
/* line 8, ../sass/_kv.sass */
#kv div img {
  max-width: 100%;
  height: auto;
}

/* line 12, ../sass/_kv.sass */
.info {
  text-align: center;
  line-height: 2.5em;
  padding-bottom: 2em;
  padding-left: 0.1em;
  padding-right: 0.1em;
}
/* line 18, ../sass/_kv.sass */
.info h2 {
  font-size: 3.25em;
  color: #646464;
}
/* line 21, ../sass/_kv.sass */
.info p {
  color: inherit;
}
