/* line 2, ../sass/_footer.sass */
.contact {
  padding: 1em 1em 1em 1em;
  background-color: #f8b616;
  width: auto;
  height: auto;
}
/* line 9, ../sass/_footer.sass */
.contact div {
  width: inherit;
  text-align: center;
}
/* line 12, ../sass/_footer.sass */
.contact div img {
  vertical-align: middle;
  width: 85px;
}

/* line 18, ../sass/_footer.sass */
.icons {
  text-align: center;
  position: relative;
  display: block;
  padding: 0px;
  text-decoration: none;
}
/* line 25, ../sass/_footer.sass */
.icons a {
  border-radius: 100%;
}
/* line 27, ../sass/_footer.sass */
.icons a img {
  width: 40px;
  margin: auto;
  padding: 8px;
}

/* line 32, ../sass/_footer.sass */
.copyright {
  margin: -10px;
  text-align: center;
  vertical-align: middle;
}
/* line 36, ../sass/_footer.sass */
.copyright p {
  display: block;
  font-size: 13px;
  color: white;
  text-align: center;
}
