.contact {
  padding: 1rem 0;
  background-color: #f8b616;
  width: auto;
  height: auto;
}

.contact div {
  width: inherit;
  text-align: center;
  padding-bottom: 1em;
}

.contact div img {
  vertical-align: middle;
  width: 85px;
}


.icons {

  text-align: center;
  position: relative;
  display: block;
  padding: 0px;
  text-decoration: none;
}

.icons a {
  border-radius: 100%;
}

.icons a img {
  width: 40px;
  margin: auto;
  padding: 8px;
}

.copyright {
  text-align: center;
  vertical-align: middle;
}

.copyright p {
  display: block;
  font-size: 13px;
  color: white;
  text-align: center;
}
