.kv
  margin: 0em
  padding: 0em
  display: block
  .banner
    text-align: center
    min-height: 350px
    background-size: contain

.img-1
  background: url(../images/banner-party-02.png)
  min-height: 350px

#map
  height: 300px
