// basic
@import partials/_variables

@import libs/_vars
@import libs/_functions
@import libs/_mixins
@import libs/_skel
// index layout: header,footer...ect
// @import lins/_bootstrap-theme
// @import lins/_bootstrap
@import libs/_index-styles

// activety model
@import libs/_timeline-style



//Layout
.flex-row
    flex-direction: row
    display: inline-flex
    width: 100%
    vertical-align: middle
.flex-row-reverse
    flex-direction: row-reverse
.flex-item
    width: calc(100% /3)
    height: 60px
    text-align: center
    line-height: 60px

//NAV
.navbar-header
  background: $main-color
  padding: 0
  margin: 0

.navbar-default
  .navbar-toggle
    margin-right: 0
    border-color: transparent
    float: left
    width: auto
    .icon-bar
      background-color: #fff
    .navbar-form
      border-color: $main-deep
    &:hover,&:focus,&:active
      background: transparent
  .item2
    color: #fff
  .item3
    float: right
.logo
  font-size: 10pt
  background-image: url(../images/logo.svg)
  width: 55px
  height: 60px
  float: right
  a
    text-indent: -9999px
    display: inline-block
    height: inherit
